@page "{id}"
@model TaskApp.Pages.TicketPages.TicketDetailModel
@{
}

@using TaskApp.Models

<form id="1" method="post">
    <tr>
        <td>
            <input asp-for="@Model.TicketInput.Subject" type="text" placeholder="Subject"  />
        </td>
        <td>
            <input asp-for="@Model.TicketInput.Description" placeholder="Description" />
        </td>
        <td>
            <input asp-for="@Model.TicketInput.OpenDate" placeholder="Date of Created" />
        </td>
        <td>
            <input asp-for="@Model.TicketInput.CustomerID" placeholder="Customer" />
        </td>      
        
    </tr>
</form>

<form id="2" method="post">


    @foreach (var item in Enum.GetValues(typeof(DifficultyLevel)))
    {
        @Html.RadioButtonFor(m => m.difficultyLevel, item) @item 

    }
    <input type="submit" value="Seçimi Onayla" asp-page-handler="SetDifficultLevel">

</form>

<form id="3" method="post" >
   

    @foreach (var item in Enum.GetValues(typeof(DifficultyLevel)))
    {
        @Html.RadioButtonFor(m => m.rank, item) @item

    }
    <input type="submit" value="Seçimi Onayla" asp-page-handler="SetRank">

</form>
